@charset "UTF-8";

body{
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding:0px;
	font-weight: normal; 
	width: 100%;
	height: 100%;
}

header{
	padding: 5px;
	margin-bottom: 10px;
	height: 40px;
	width: 100%;
	background-color: #545454;
	color: #ffffff;
	box-shadow: 0px 5px 5px #ccc;
}

header > div{
	padding-left: 15px;
	padding-top: 5px;
}

#corpoPagina{
	width: 100%;
	height: 100%;
	margim: 0px;
	padding: 0px;	
}

.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}
.conteudoUI{
	width: 100%;
	height: 100%;
}

.ajaxstatus{
	position:fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px;	
}

#ladoEsquerdo{
	float:left;
	width: 25%;
	height: 100%;
	background-color: red;
	
}

#ladoDireito{
	float:right;
	width: 75%;
	height: 100%;
	background-color: fuchsia;
	
}


